---
layout: page
title: Ih, Aprendi!
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">UMA <b>ESCOLA DE MAGIA...</b><!--&#38;--><!--<br>QUANDO VOCÊ MENOS<br><b>PERCEBER</b>...--></h1>
          <p class="animated fadeInUp">Antes de aprender, precisamos descobrir <b>por quê aprender</b>.<br>O aprendizado natural <b>acontece</b> quando faz sentido.<br>E é isso que nós fazemos: <b>mágica para o seu aprendizado acontecer!</b></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>Sobre a Ih, Aprendi!</h2>
            <p>Em setembro de 2015 a Ih, Aprendi! dava seus primeiros passos com aulas particulares de inglês, buscando inovar num ambiente saturado com tanta escola e tantos professores.</p>
          </div>
          <p align="justify">Então o tempo foi passando, os resultados aparecendo e, em 2017, o aprendizado natural nasceu com o nome que tem hoje.
          <p align="justify">Buscando transformar o aprendizado em algo mágico, porque aprender tem que fazer sentido e quando o faz, o aprendizado acontece naturalmente.</p>
          <p align="justify">Nascemos da necessidade de se aprender de forma natural, sem <b>dor</b>, sem <b>traumas</b> e <b>ressignificar</b>o aprendizado, seja ele da <b>comunicação em inglês</b>, para <b>cozinhar</b>, <b>aprender a programar</b> ou tirar uma <b>certificação</b>.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Aprendizado Natural">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>NÓS ACREDITAMOS EM...</h2>
      <p align="justify">Antes de aprender uma nova habilidade, precisamos entendê-la e desenhar um plano para alcançá-la, seja de forma escrita, visual ou na prática. Ter um caminho desenhado e sabendo o que precisa ser feito, fica muito mais 'fácil' de aprender.</p>
      <p align="justify">Além disso, aprender ferramentas multi-disciplinares, pode te ajudar não apenas no aprendizado aqui na Ih, Aprendi, mas em várias outras áreas da sua vida. Ter essa consciência plural e diversa sobre o aprendizado é o que nos move para continuar inovando e desenvolvendo os super poderes das pessoas.</p>
      <p align="justify">Quando o aprendizado faz sentido, ele se torna tão natural quanto uma mágica...e então: Ihhh, Aprendi!</p>
      <a href="#testimonial" class="btn btn-view-works">Veja os resultados</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Nossos Cursos</h2>
        <p>Em uma galáxia muito distante surgiu um método para você aprender de forma natural... </p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-university"></i>
          <h4>Entre Pro Jogo</h4>
          <p>Comece falando e <br>aprenda ao longo do caminho!<br>Seja <b>fluente em inglês</b> desde o começo!</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-person"></i>
          <h4>Apresentação Pessoal</h4>
          <p>Faça uma boa apresentação pessoal e seja lembrado/a mais facilmente entre seus amigos, colegas e em eventos</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <!--<ion-icon name="leaf"></ion-icon>-->
          <i class="ion-leaf"></i>
          <h4>Monte a sua Horta em Casa</h4>
          <p>Se reconecte com a Natureza entendendo o ciclo do consumo, lixo e o seu papel no planeta Terra</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-chatbubbles"></i>
          <h4>Networking</h4>
          <p>Se conectar com outras pessoas significa muito mais do que trocar cartões de visita.</p>
        </div>
      </div>
      <!-- Content Start -->
      </div>
     <!--
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      -->
      </div>
  </div>
      <div class="service-button">
        <a class="btn btn-info"href="/cursos">Acesse os Cursos</a>
      </div>
</section>

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
            <h2>Nós criamos a melhor experiência para o seu aprendizado.</h2>
            <p>Entenda melhor sobre o motivo de fazer isso. Quais dores você tem? Por que não aprende? Nos conte e vamos criar o melhor curso para você!</p>
          <a class="btn btn-default btn-call-to-action" href="/contato/" >Conte a sua história</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fatos Interessantes</h2>
        <p>Veja alguns dados interessantes sobre a Ih, Aprendi!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
